@import "../_variables";

.dashboard.employees {
	.grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.employee-box {
	margin: 10px 0;
	position: relative;
	flex-basis: 32%;
	border: 1px solid $borders-color;

	.employee-name {
		font-size:18px;
		padding: 15px 15px 10px 15px;
	}

	.job-title {
		padding: 0 15px 20px;
		display: inline-block;
	}

	.header-part {
		padding: 5px 0 40px;
		border-radius: $default-border-radius;
	}

	.bottom-part {
		padding: 50px 15px 20px;
		text-align: center;
		font-size:14px;
		background-color: #fff;
		border-radius: $default-border-radius;
		ul {
			text-align: left;
			list-style: none;
			li {
				padding: 5px 0;
				span {
					padding-right:10px;
				}
			}
		}
		button {
			margin-top:10px;
			width: 100px;
		}
	}

	.profile-image {
		position: absolute;
		background-color: #fff;
		padding: 10px;
		border-radius: 60px;
		top:35%;
		left:50%;
		transform: translateY(-35%) translateX(-50%);
		img {
			width:80px;
			height: 80px;
		}
	}
}