@import "../_variables";

.orders-table {
	table {
		border-top: 3px solid $box-blue;
		font-size: $default-font-size;
		margin-top:20px;
		border-radius: $default-border-radius;
		background: #ffffff;
		margin-bottom: 20px;
		width: 100%;
		box-shadow: $default-box-shadow;
		border-collapse:collapse;

		tr.title {
			border-bottom: 1px solid $borders-color;
			td {
				font-size:16px;
			}
		}

		tr.headers {
			border-bottom: 2px solid $borders-color;
			td {
				border-bottom: none !important;
			}
		}

		tbody,thead,tfoot {
			td {
				padding: 10px;
				vertical-align: top;
				p {
					padding:4px 0;
				}
			}

			tr:not(.headers) {
				border-bottom: 1px solid $borders-color;
			}

			tr:not(.title) {
				td {
					&:first-child, &:last-child {
						display: block;
					}
					&:first-child {
						margin-left:10px;
					}
					&:last-child {
						margin-right:10px;
					}
				}
			}
		}

		thead {
			tr:not(.title) {
				font-weight: bold;
				td {
					padding-top: 20px;
					border-bottom: 2px solid $borders-color;
				}
			}
		}

		tfoot {
			position: relative;
			margin-top:10px;
			tr {
				background-color: #fff;
				height:70px;
			}
			td {
				position: absolute;
				padding-top:20px;
				right:50px;
				border-bottom: none !important;
			}
		}
	}
}