//Common styles

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ecf0f5;
	font-family: 'Roboto', sans-serif;
}
// Buttons
.btn {
	display: inline-block;
	text-align: center;
	border-radius: $default-border-radius;
	color: #fff;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	cursor: pointer;
}

.btn-blue {
	background-color: $box-blue;
}

.btn-blue-darker {
	background-color: $box-blue-darker;
}

//Typography

h2, h3, h4 {
	letter-spacing:.55px;
	text-transform: uppercase;
	font-weight: $default-font-weight;
}