//Common styles

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ecf0f5;
	font-family: 'Roboto', sans-serif;
}
// Buttons
.btn {
	display: inline-block;
	text-align: center;
	border-radius: $default-border-radius;
	color: #fff;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	cursor: pointer;
	width: 30px;
	height: 30px;
	&:not(:first-child) {
		margin-left:10px;
	}
}

.btn-arrow-pagination {
	margin: 0 !important;
	border-radius: 0 !important;
	border: 1px solid #fff;
}

.btn-blue {
	background-color: $box-blue;
}

.btn-blue-darker {
	background-color: $box-blue-darker;
}

.btn-green {
	background-color: $box-green;
}

.btn-green-darker {
	background-color: $box-green-darker;
}



.component-border-green {
	border-top: 3px solid $box-green;
	button {
		background-color: $box-green;
	}
}

.component-border-blue {
	border-top: 3px solid $box-blue;
	button {
		background-color: $box-blue;
	}
}

.component-border-orange {
	border-top: 3px solid $box-orange;
	button {
		background-color: $box-orange;
	}
}

.component-border-red {
	border-top: 3px solid $box-red;
	button {
		background-color: $box-red;
	}
}

.component-border-gray {
	border-top: 3px solid $box-gray;
	button {
		background-color: $box-gray;
	}
}

//Typography

h2, h3, h4 {
	letter-spacing:.55px;
	text-transform: uppercase;
	font-weight: $default-font-weight;
}

// AddItem component

.addItem {
	&:before {
		content: '';
		display: block;
		position: absolute;
		width:3px;
		left:10px;
		height:15px;
		background: $box-green;
		top:50%;
		transform: translateY(-50%);
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width:15px;
		left:4px;
		height:3px;
		background: $box-green;
		top:50%;
		transform: translateY(-50%);
	}
}

.hidden {
	display: none;
}

.input-default {
	width: 100%;
	padding: 0 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: 1px solid #eee;
	height: 30px;
}

.visible {
	display: block;
}