@import './infoboxes';


//============================ Dashboard styles ============================//
.dashboard {
	width: 82%;
	background-color: #ecf0f5;
	display: block;
	margin-left:18%;
	padding:15px 10px;

	h2 {
		font-size: 20px;
		margin: 0 0 10px 0;
	}

}