//================ InfoBoxes styles ================//

.box-blue {
	background-color: $box-blue;
}

.box-green {
	background-color: $box-green;
}

.box-orange {
	background-color: $box-orange;
}

.box-red {
	background-color: $box-red;
}

.loading {
	display: inline-block;
	width:100%;
	padding-top:10px;
	svg {
		display: block;
		width: 40px;
		height: 40px;
		margin:0 auto;
	}
}

.info-boxes {
	width:100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	font-size: $default-font-size;

	.info-box {
		border-radius: $default-border-radius;
		width: 25%;
		height: 90px;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		&:not(:last-child) {
			margin-right: 20px;
		}

		.box-info {
			padding: 5px 10px;
			width: 65%;
			height: 100%;
			display: inline-block;
			vertical-align: top;

			.box-value {
				margin: 5px 0;
				font-weight:600;
				line-height: 35px;
			}
		}

	}
}