// Colors for info-boxes, borders etc.
$box-blue: #00c0ef;
$box-blue-darker: #009ABF;
$box-orange: #f39c12;
$box-green: #00a65a;
$box-red: #dd4b39;
$borders-color: #f4f4f4;

//Fonts
$default-font-size: 14px;
$default-font-weight: 400;


$default-border-radius: 3px;