* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #ecf0f5;
  font-family: 'Roboto', sans-serif; }

.btn {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer; }

.btn-blue {
  background-color: #00c0ef; }

h2, h3, h4 {
  letter-spacing: .55px;
  text-transform: uppercase;
  font-weight: 400; }

.main-sidebar {
  box-sizing: border-box;
  width: 18%;
  background-color: #222d32;
  height: 100vh;
  position: fixed; }
  .main-sidebar .profile {
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    width: 100%; }
    .main-sidebar .profile div.profile-icon {
      background: url("./static/images/icons/boss.svg") no-repeat center;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 45px; }
    .main-sidebar .profile .info {
      display: inline-block;
      vertical-align: top;
      padding-top: 10px;
      line-height: 15px;
      margin-left: 20px; }
      .main-sidebar .profile .info .profile-name {
        font-size: 14px; }
      .main-sidebar .profile .info .status {
        font-size: 10px; }
  .main-sidebar .search {
    width: 100%;
    margin: 0 auto; }
    .main-sidebar .search form {
      padding: 0 10px; }
    .main-sidebar .search input {
      width: 100%;
      color: #fff;
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
      display: block;
      padding: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  .main-sidebar .navigation {
    color: #b8c7ce;
    position: relative; }
    .main-sidebar .navigation .list-title {
      margin-top: 10px;
      text-transform: uppercase;
      color: #4b646f;
      background: #1a2226;
      padding: 10px 25px 10px 15px;
      font-size: 12px; }
    .main-sidebar .navigation ul li {
      position: relative; }
      .main-sidebar .navigation ul li a {
        border-left: 3px solid transparent;
        color: #b8c7ce;
        padding: 12px 5px 12px 15px;
        display: block;
        text-decoration: none;
        font-size: 14px; }
      .main-sidebar .navigation ul li:hover a {
        color: #fff;
        background: #1e282c;
        border-left-color: #3c8dbc; }
    .main-sidebar .navigation .pull-right-container {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%); }
      .main-sidebar .navigation .pull-right-container i {
        cursor: pointer; }

.box-blue {
  background-color: #00c0ef; }

.box-green {
  background-color: #00a65a; }

.box-orange {
  background-color: #f39c12; }

.box-red {
  background-color: #dd4b39; }

.info-boxes {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px; }
  .info-boxes .info-box {
    border-radius: 3px;
    width: 25%;
    height: 90px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .info-boxes .info-box:not(:last-child) {
      margin-right: 20px; }
    .info-boxes .info-box .box-info {
      padding: 5px 10px;
      width: 65%;
      height: 100%;
      display: inline-block;
      vertical-align: top; }
      .info-boxes .info-box .box-info .box-value {
        margin: 5px 0;
        font-weight: 600;
        line-height: 35px; }

.dashboard {
  width: 82%;
  background-color: #ecf0f5;
  display: block;
  margin-left: 18%;
  margin-right: 0;
  padding: 15px 10px; }
  .dashboard h2 {
    font-size: 20px;
    margin: 0 0 10px 0; }
  .dashboard .orders-table table {
    border-top: 3px solid #00c0ef;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-collapse: collapse; }
    .dashboard .orders-table table tr.title {
      border-bottom: 1px solid #f4f4f4; }
      .dashboard .orders-table table tr.title td {
        font-size: 16px; }
    .dashboard .orders-table table tr.headers {
      border-bottom: 2px solid #f4f4f4; }
      .dashboard .orders-table table tr.headers td {
        border-bottom: none !important; }
    .dashboard .orders-table table tbody td, .dashboard .orders-table table thead td, .dashboard .orders-table table tfoot td {
      padding: 10px; }
    .dashboard .orders-table table tbody tr:not(.headers) td, .dashboard .orders-table table thead tr:not(.headers) td, .dashboard .orders-table table tfoot tr:not(.headers) td {
      border-bottom: 1px solid #f4f4f4; }
    .dashboard .orders-table table tbody tr:not(.title) td:first-child, .dashboard .orders-table table tbody tr:not(.title) td:last-child, .dashboard .orders-table table thead tr:not(.title) td:first-child, .dashboard .orders-table table thead tr:not(.title) td:last-child, .dashboard .orders-table table tfoot tr:not(.title) td:first-child, .dashboard .orders-table table tfoot tr:not(.title) td:last-child {
      display: block; }
    .dashboard .orders-table table tbody tr:not(.title) td:first-child, .dashboard .orders-table table thead tr:not(.title) td:first-child, .dashboard .orders-table table tfoot tr:not(.title) td:first-child {
      margin-left: 10px; }
    .dashboard .orders-table table tbody tr:not(.title) td:last-child, .dashboard .orders-table table thead tr:not(.title) td:last-child, .dashboard .orders-table table tfoot tr:not(.title) td:last-child {
      margin-right: 10px; }
    .dashboard .orders-table table thead tr:not(.title) {
      font-weight: bold; }
      .dashboard .orders-table table thead tr:not(.title) td {
        padding-top: 20px;
        border-bottom: 2px solid #f4f4f4; }
    .dashboard .orders-table table tfoot {
      position: relative;
      margin-top: 10px; }
      .dashboard .orders-table table tfoot tr {
        background-color: #fff;
        height: 70px; }
      .dashboard .orders-table table tfoot td {
        position: absolute;
        padding-top: 20px;
        right: 50px;
        border-bottom: none !important; }
      .dashboard .orders-table table tfoot .btn {
        width: 30px;
        height: 30px; }
        .dashboard .orders-table table tfoot .btn:not(:first-child) {
          margin-left: 10px; }

.infobox-icon {
  width: 35%;
  height: 100%;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  shape-rendering: crispEdges;
  border-bottom-left-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.icon-worker {
  background-image: url("./static/images/icons/worker.svg"); }

.icon-product {
  background-image: url("./static/images/icons/product.svg"); }

.icon-orders {
  background-image: url("./static/images/icons/line-chart.svg"); }

.icon-customer {
  background-image: url("./static/images/icons/stats.svg"); }

/*# sourceMappingURL=index.css.map */
